{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'produtos/css/ver_produto.css' %}">
    <title>Document</title>
</head>

<body>
    <h1 class="cor">VER PRODUTO, {{nome}}</h1>
    <img id="imagem" src="{% static 'produtos/img/imagem.png' %}" />
    <br />
    <br /> 
    <form action="{% url 'ver_produto' %}" method="POST">{% csrf_token %}
        <input type="text" name="nome" placeholder="Digite seu nome" />
        <br />
        <br />
        <input type="number" name="idade" placeholder="Digite sua idade" />
        <br />
        <br />
        <input type="submit" value="Enviar" />
    </form>
    
    
    









</body>
</html>
